annotated-types==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.11" and (platform_system == "Darwin" or sys_platform == "darwin")
asttokens==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
azure-core==1.29.4 ; python_version >= "3.10" and python_version < "3.11"
azure-identity==1.14.0 ; python_version >= "3.10" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
broadbean==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
cachetools==5.3.1 ; python_version >= "3.10" and python_version < "3.11"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
cryptography==41.0.4 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.4 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.43.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2023.9.2 ; python_version >= "3.10" and python_version < "3.11"
future==0.18.3 ; python_version >= "3.10" and python_version < "3.11"
google-api-core==2.12.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth==2.23.2 ; python_version >= "3.10" and python_version < "3.11"
googleapis-common-protos==1.60.0 ; python_version >= "3.10" and python_version < "3.11"
h5netcdf==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
h5py==3.9.0 ; python_version >= "3.10" and python_version < "3.11"
huggingface-hub==0.17.3 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==6.8.0 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.25.2 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.16.1 ; python_version >= "3.10" and python_version < "3.11"
ipywidgets==8.1.1 ; python_version >= "3.10" and python_version < "3.11"
jaraco-classes==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.11"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.19.1 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==8.3.1 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.3.2 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-widgets==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
keyring==24.2.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.8.0 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==10.1.0 ; python_version >= "3.10" and python_version < "3.11"
msal-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
msal==1.24.1 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.0 ; python_version >= "3.10" and python_version < "3.11"
opencensus-context==0.1.3 ; python_version >= "3.10" and python_version < "3.11"
opencensus-ext-azure==1.1.10 ; python_version >= "3.10" and python_version < "3.11"
opencensus==0.11.3 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-api==1.20.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.0.1 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "3.11"
plotly==5.17.0 ; python_version >= "3.10" and python_version < "3.11"
portalocker==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.24.4 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.11"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.10.1 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.4.2 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.11"
pyjwt[crypto]==2.8.0 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.11"
python-box==7.1.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.11"
pyvisa==1.13.0 ; python_version >= "3.10" and python_version < "3.11"
pywin32-ctypes==0.2.2 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
pywin32==306 ; python_version >= "3.10" and python_version < "3.11" and (platform_system == "Windows" or sys_platform == "win32") and (platform_system == "Windows" or platform_python_implementation != "PyPy")
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
pyzmq==25.1.1 ; python_version >= "3.10" and python_version < "3.11"
qcodes==0.40.0 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.10.4 ; python_version >= "3.10" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.11"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.35 ; python_version >= "3.10" and python_version < "3.11"
schema==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.11.3 ; python_version >= "3.10" and python_version < "3.11"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
setuptools-scm==8.0.4 ; python_version >= "3.10" and python_version < "3.11"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.3.3 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.11.2 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.11"
uncertainties==3.1.7 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.0.6 ; python_version >= "3.10" and python_version < "3.11"
versioningit==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.8 ; python_version >= "3.10" and python_version < "3.11"
websockets==11.0.3 ; python_version >= "3.10" and python_version < "3.11"
widgetsnbextension==4.0.9 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
xarray==2023.9.0 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.11"
